<div ng-controller="CreateArray">
<form name="addObjectForm" novalidate>
                <div>
                    <label for="firstName lastName">Your Name</label>
                    <input ng-model="firstName" id="firstName" name="fName" type="text" placeholder="First name" ng-class="{'has-error': addObjectForm.fName.$dirty && addObjectForm.fName.$error.required}" required>
                    <input ng-model="lastName" id="lastName" name="lName" type="text" placeholder="Last name" ng-class="{'has-error': addObjectForm.lName.$dirty && addObjectForm.lName.$error.required}" required>
                </div>
                <div>
                <div ng-controller="RadioController">
                    <label for="gender">Select gender</label>
                    <ul>
                        <li>
                            <label class="name"><input ng-model="gender" ng-change="RadioChange('male')" id="gender" name="gender" type="radio" value="male">Male</label>
                        </li>
                        <li>
                            <label class="name"><input ng-model="gender" ng-change="RadioChange('female')" id="gender" name="gender" type="radio" value="female">Female</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label for="dob">Date of Birth</label>
                    <input ng-model="dob" id="dob" name="dob" type="date" ng-class="{'has-error': addObjectForm.dob.$dirty && addObjectForm.dob.$error.required}" required>                    
                </div>
                <div>
                    <label for="email">e-mail</label>
                    <input ng-model="email" id="email" name="email" type="email" placeholder="e-mail" ng-class="{'has-error': (addObjectForm.email.$dirty && addObjectForm.email.$error.required) || addObjectForm.email.$error.email}" required>
                </div>
                <div>
                    <button class="btn" type="submit" ng-disabled="addObjectForm.fName.$invalid || addObjectForm.lName.$invalid || addObjectForm.dob.$invalid || addObjectForm.email.$invalid" ng-click="pushNewItem(firstName, lastName, gender, dob, email)">Create</button>
                    <button class="btn" type="reset">Reset</button>
                </div>
            </form>
		</div>