<div ng-controller="NamesArray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-lg-5 col-md-4 col-sm-4">name</td>
                            <th class="col-lg-3 col-md-3 col-sm-3">title</td>
                            <th class="col-lg-1 col-md-2 col-sm-2">number</td>
                            <th class="col-lg-3 col-md-3 col-sm-3">flag</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex" ng-repeat="item in objects">
                            <td class="col-lg-5 col-md-4 col-sm-4">{{item.name}}</td>
                            <td class="col-lg-3 col-md-3 col-sm-3">{{item.title}}</td>
                            <td class="col-lg-1 col-md-2 col-sm-2">{{item.number}}</td>
                            <td class="col-lg-3 col-md-3 col-sm-3"">{{item.flag}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--<div>
        <div class="reg" ng-click="create=!create">Sign up</div>
        <div class="reg" ng-click="login=!login">Log in</div>
        <div ng-show="create">
            <p>Username<input type="text" ng-model="username"></p>
            <p>Password<input type="text" ng-model="password"></p>
            <button ng-click="postdata()">Create</button>
        </div>
        <div ng-show="login">
            <p>Username<input type="text" ng-model="users"></p>
            <p>Password<input type="text" ng-model="pass"></p>
            <button ng-click="getdata()">Log in</button>
        </div>
    </div>-->
        <!--<p class="create"><a ui-sref="create"><button class="on_create">Create new object</button></a></p>-->
        
                        
                            <!--<td>
                                <a ui-sref="update({id: item.id})"><button class="buttons">Update</button></a>
                                <button class="buttons" ng-click="spliceArr(item.id)">Delete</button>
                            </td>-->
                        
</div>