         <div ng-controller="UpdateArray">   
			<form name="myForm">
                <div>
                    <label>Your Name</label>
                    <input name="name" ng-model="name" type="text" required>
                </div>
                <div>
                <div ng-controller="RadioController">
                    <label>Select gender</label>
                    <ul>
                        <li>
                            <label class="name"><input name="gender" ng-change="RadioChange('male')" ng-model="gender" type="radio" value="male">Male</label>
                        </li>
                        <li>
                            <label class="name"><input name="gender" ng-change="RadioChange('female')" ng-model="gender" type="radio" value="female">Female</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>Date of Birth</label>
                    <input type="date" ng-model="nDate">                    
                </div>
                <div>
                    <label>e-mail</label>
                    <input type="email" ng-model="nEmail">
                </div>
                <div>
                    <button type="submit" ng-click="updateItem(id, name, gender, nDate, nEmail)">Update</button>
                    <button type="reset">Reset</button>
                </div>
            </form>
		</div>